@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}


/* background-size - define o tamanho da imagem de fundo : 

        
    

   */

body {
    height: 100vh;
    background-size: cover;
    background: black url('../img/wallpaper002.jpg') center center no-repeat fixed;


    /* 
   background-image: url(../img/wallpaper002.jpg);
   background-color: black;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
    
   
   
   usando background attachment 
    - background-attachment: fixed;
    - background-attachment: scroll;
    */
    /* shorthand Background
   
   color > 
   image >
   position >
   repeat >
   size >
   attachement ;



   */



}

main {
    background-color: white;
    max-width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 15px;
}

p {
    text-align: justify;
    text-indent: 20px;
}